body {
  margin: 0;
}

.first-navbar {
  top: 0;
  left: 0;

  height: 80px;
  display: flex;
  flex-direction: row;
  background: rgb(50, 50, 50);
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.first-navbar-container {
  display: flex;
  gap: 10px;
}
.img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.first-navbar-container h3 {
  color: white;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.navbar-ul li {
  color: #ffffff;
  cursor: pointer;
}
.first-section {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoVB2SSRHffwHvNW-Pk7NYL7ki-ABwXT-6GlpYRt4XTclFTyVaE8y2tosJUWBGckeqvg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.first-section h1 {
  margin: 0;
  padding-top: 200px;
  padding-left: 60px;
  color: white;
  font-size: 60px;
  font-weight: 700;
}
