body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
}

.first-navbar {
  top: 0;
  left: 0;

  height: 80px;
  display: flex;
  flex-direction: row;
  background: rgb(50, 50, 50);
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.first-navbar-container {
  display: flex;
  gap: 10px;
}
.img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
}
.first-navbar-container h3 {
  color: white;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.navbar-ul li {
  color: #ffffff;
  cursor: pointer;
}
.first-section {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoVB2SSRHffwHvNW-Pk7NYL7ki-ABwXT-6GlpYRt4XTclFTyVaE8y2tosJUWBGckeqvg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  object-fit: cover; /* margin-top: 80px; */
}
.first-section h1 {
  margin: 0;
  padding-top: 200px;
  padding-left: 60px;
  color: white;
  font-size: 60px;
  font-weight: 700;
}
.second-section {
  background-color: rgb(2, 2, 100);
  padding: 20px;
  text-align: center;
}
.second-section input {
  width: 500px;
  padding: 10px;
}

.third-section {
  padding: 60px 140px;
  text-align: center;
  text-overflow: ellipsis;
}
.project-heading {
  text-align: center;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 140px;
  gap: 30px;
  margin-bottom: 40px;
}

.boxitem {
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 0 20px #00000030;
  padding: 10px;
  /* border-radius: 10px; */
  box-shadow: 2rem rgb(44, 132, 203);
  background-color: rgb(44, 132, 203);
  color: white;
}
.boxitem h4 {
  font-weight: bold;
  font-size: x-large;
}
.boxitem a {
  color: grey;
  font-size: large;
  text-decoration: none;
  font: bold;
}
.boxitem a:hover {
  color: blue;
}
.second-bg {
  display: flex;
  justify-content: center;
  padding: 60px 140px;
  margin-top: 40px;
  gap: 30px;
  background: rgb(229, 224, 224);
}

/* h1 {
  margin-top: 40px;

  font-size: 70px;
  font: bolder;
  font-family: Arial, Helvetica, sans-serif;

} */
.answer-heading {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.forth-section {
  display: grid;
  grid-template-columns: auto auto auto auto;

  gap: 30px;
  padding: 60px 140px;
}

.forth-section-item {
  text-align: start;
  color: grey;
}
.forth-section-item a {
  color: black;
  font-weight: bold;
}
@media (max-width: 600px) {
  .box {
    display: block;
  }
  .second-bg {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .second-bg img {
    width: 100%;
  }
  .second-section {
    padding: 10px;
  }
  .second-section input {
    width: 200px;
    /* padding: 10px; */
  }
}
